html
   head
      title Simple template
      style
         include server.css
   body
      include ./navbar.pug
      h3.cont Contact us via our Facebook , phone ,instg or Linkedin for more information. 251542364/ Sirine.BG
       img(src='./linkedin.jpg' alt='login' style='width:100px; ')
       img(src='./instg.png' alt='login' style='width:100px; ')
       img(src='./apple-phone.png' alt='login' style='width:100px; ')
       img(src='./fb.png' alt='login' style='width:100px; ')

