html
   head
      title Simple template
      style
         include server.css
   body
      include ./navbar.pug
      h3.cont  Welcome to my Home website. 
      h3.pres  My name is Sirine Ben Gabsia.
      h3.pres  I am 25 years old.
      h3.pres  I am a full-stack engineer.



      img(src='./123.jpg' alt='login' style='width:500px; margin-left: 400px; ')
