//- html
//-    head
//-       title Simple template
//-    body 
//-        ul#division
//-           div.container
   
//-         li
//-              a(href = "http://localhost:4000/home")  HOME
//-         li
//-              a(href = "http://localhost:4000/ourservices")  OUR SERVICES
//-         li
//-               a(href = "http://localhost:4000/contact")  CONTACT US





    
      
html
   head
      title Simple template
   body

        ul#division
        
 
   div.container
    li
     a(href = "http://localhost:4000/home")  HOME
    li
     a(href = "http://localhost:4000/ourservices")  OUR SERVICES
    li
     a(href = "http://localhost:4000/contact")  CONTACT US
    
      