html
   head
      title Simple template
      style
         include server.css
   body

      include ./navbar.pug
      h3.cont We are here to announce that we are happy to see you.
   
      h3.pres  We develop websites. 
      h3.pres  We do digital marketing.
      h3.pres  We do graphic design .


